<h1>Boas-Vindas à Task List!</h1>
<h3> Sua listra de tarefas: </h3>

  <%= link_to 'Criar', new_task_path(@task) %>
<br>

<% @tasks.each do |task|%>
  <%= task.description %>
  <%= link_to 'Editar', edit_task_path(task) %>
  <%= link_to 'Apagar', task_path(task), method: :delete,
      data: {confirm: 'Quer apagar esta tarefa?'} %>

<% end%>